<h1>Lista autorów</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Imię i Nazwisko</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($autorzy as $autor): ?>
        <tr>
            <td><?= $autor->id ?></td>
            <td>
                <a href="<?= $this->url('autorzy', array('action' => 'szczegoly', 'id' => $autor->id)) ?>"><?= $autor->imie ?> <?= $autor->nazwisko ?></a>
            </td>
            <td>
                <a href="<?= $this->url('autorzy', array('action' => 'edytuj', 'id' => $autor->id)) ?>"
                   title="edytuj rekord"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="<?= $this->url('autorzy', array('action' => 'usun', 'id' => $autor->id)) ?>"
                   title="usuń rekord"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>