<?
$this->headScript()->appendFile($this->basePath('/js/oferty.js'));
$form->przygotujWyglad();
$form->setAttribute('action', $this->url('nieruchomosci/oferty-lista', array('strona' => null)))
?>

<?= $this->form()->openTag($form) ?>

    <h2>Lista ofert</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th><?= $form->get('typ_oferty')->getLabel() ?></th>
                <th><?= $form->get('typ_nieruchomosci')->getLabel() ?></th>
                <th><?= $form->get('numer')->getLabel() ?></th>
                <th><?= $form->get('powierzchnia_od')->getLabel() ?></th>
                <th><?= $form->get('powierzchnia_do')->getLabel() ?></th>
                <th><?= $form->get('cena_od')->getLabel() ?></th>
                <th><?= $form->get('cena_do')->getLabel() ?></th>
                <th></th>
            </tr>
            <tr class="szukaj">
                <th></th>
                <th><?= $this->formElement($form->get('typ_oferty')) ?></th>
                <th><?= $this->formElement($form->get('typ_nieruchomosci')) ?></th>
                <th><?= $this->formElement($form->get('numer')) ?></th>
                <th><?= $this->formElement($form->get('powierzchnia_od')) ?></th>
                <th><?= $this->formElement($form->get('powierzchnia_do')) ?></th>
                <th><?= $this->formElement($form->get('cena_od')) ?></th>
                <th><?= $this->formElement($form->get('cena_do')) ?></th>
                <th><?= $this->formElement($form->get('szukaj')) ?></th>
            </tr>
        </thead>
        <tbody>
        <? foreach ($oferty as $of): ?>
            <tr>
                <td><?= $of->id ?></td>
                <td><?= $of->typ_oferty ?></td>
                <td><?= $of->typ_nieruchomosci ?></td>
                <td><?= $of->numer ?></td>
                <td colspan="2"><?= $of->powierzchnia ?></td>
                <td colspan="2"><?= $of->cena ?></td>
                <td>
                    <a href="<?= $this->url('nieruchomosci/oferty', array('action' => 'szczegoly', 'id' => $of->id)) ?>"
                       title="szczegóły"><span class="glyphicon glyphicon-folder-open"></span></a>&nbsp;

                    <?php if(in_array($of->id, $idki_ofert_w_koszyku)): ?>
                        <span class="glyphicon glyphicon-ok" style='color: green'></span>&nbsp;
                    <?php else: ?>
                        <a href="<?= $this->url('nieruchomosci/oferty', array('action' => 'koszyk-dodaj', 'id' => $of->id)) ?>"
                           title="dodaj do koszyka" class="aDodajDoKoszyka"><span
                                class="glyphicon glyphicon-shopping-cart"></span></a>&nbsp;
                    <?php endif; ?>

                    <a href="<?= $this->url('nieruchomosci/oferty', array('action' => 'drukuj', 'id' => $of->id)) ?>"
                       title="drukuj"><span class="glyphicon glyphicon-print"></span></a>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>

<?= $this->paginationControl($oferty, 'sliding', array('partial/paginator.phtml', 'Nieruchomosci'), array('route' => 'nieruchomosci/oferty-lista', 'parametry' => $parametry)) ?>

<?= $this->form()->closeTag($form); ?>