<h1><?=$tytul ?></h1>
Typ oferty: <?=$dane['typ_oferty'] ?></br>
Typ nieruchowmości: <?=$dane['typ_nieruchomosci'] ?></br>
Numer: <?=$dane['numer'] ?></br>
Powierzchnia: <?=$dane['powierzchnia'] ?> m2</br>
Cena:  <?=$dane['cena'] ?> zł </br>

<?php
$this->headScript()->appendFile($this->basePath('/js/zapytanie.js'));
$tresc = new \Zend\Form\Element\Textarea('tresc');
$tresc->setLabel('Treść');
$tresc->setAttributes(array('class' => 'form-control', 'rows' => 5));
$tresc->setValue("Jestem zainteresowany ofertą numer $dane[numer]. \nProszę o kontakt.");

$email = new \Zend\Form\Element\Text('email');
$email->setLabel('Email');
$telefon = new \Zend\Form\Element\Text('telefon');
$telefon->setLabel('Telefon');
?>

<h2>Szczegóły oferty <?= $dane['numer'] ?></h2>

<p>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalZapytanie">
        Wyślij zapytanie
    </button>
</p>
<p>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalWyslijOferte">
        Wyślij ofertę na email
    </button>
</p>

<div class="modal fade" tabindex="-1" role="dialog" id="modalZapytanie">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Zapytanie ofertowe</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="<?= $this->url('nieruchomosci/oferty', array('action' => 'wyslij-zapytanie'), null, true) ?>" id="formZapytanie">
                    <div class="form-group">
                        <p>
                            <?= $this->formLabel($email) ?>
                            <?= $this->formText($email) ?>
                            <?= $this->formLabel($telefon) ?>
                            <?= $this->formText($telefon) ?>
                        </p>

                        <?= $this->formLabel($tresc) ?>
                        <?= $this->formTextarea($tresc) ?>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnWyslij">Wyślij</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Zamknij</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="modalWyslijOferte">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Wysyłanie oferty</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="<?= $this->url('nieruchomosci/oferty', array('action' => 'wyslij-oferte'), null, true) ?>" id="formWyslijOferte">
                    <div class="form-group">
                        <?= $this->formLabel($email) ?>
                        <?= $this->formText($email) ?>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnWyslijOferte">Wyślij</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Zamknij</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->