<?php
$this->headScript()->appendFile($this->basePath('/js/zapytanie.js'));
$tresc = new \Zend\Form\Element\Textarea('tresc');
$tresc->setLabel('Treść');
$tresc->setAttributes(array('class' => 'form-control', 'rows' => 5));
$tresc->setValue("Jestem zainteresowany ofertą numer $oferta[numer]. \nProszę o kontakt.");
?>

<h2>Szczegóły oferty <?= $oferta->numer ?></h2>

<p>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalZapytanie">
        Wyślij zapytanie
    </button>
</p>

<div class="modal fade" tabindex="-1" role="dialog" id="modalZapytanie">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Zapytanie ofertowe</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="<?= $this->url('nieruchomosci/oferty', array('action' => 'wyslij-zapytanie'), null, true) ?>" id="formZapytanie">
                    <div class="form-group">
                        <?= $this->formLabel($tresc) ?>
                        <?= $this->formTextarea($tresc) ?>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnWyslij">Wyślij</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Zamknij</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->