<? $this->headScript()->appendFile($this->basePath('/js/koszyk.js')); ?>
<h2>Lista produktów w koszyku</h2>
<a href="<?= $this->url('koszyk', array('action' => 'drukujKoszyk')) ?>">Drukuj zawartość koszyka</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th><?= $form->get('typ_oferty')->getLabel() ?></th>
        <th><?= $form->get('typ_nieruchomosci')->getLabel() ?></th>
        <th><?= $form->get('numer')->getLabel() ?></th>
        <th><?= $form->get('powierzchnia')->getLabel() ?></th>
        <th><?= $form->get('cena')->getLabel() ?></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <? foreach ($wybrane as $w): ?>
        <tr>
            <td><?= $w->typ_oferty ?></td>
            <td><?= $w->typ_nieruchomosci ?></td>
            <td><?= $w->numer ?></td>
            <td><?= $w->powierzchnia ?></td>
            <td><?= $w->cena ?></td>
            <td>
                <a href="<?= $this->url('nieruchomosci/oferty', array('action' => 'szczegoly', 'id' => $w->id)) ?>"
                   title="szczegóły"><span class="glyphicon glyphicon-folder-open"></span></a>&nbsp;

                <a href="<?= $this->url('koszyk', array('action' => 'usun', 'id' => $w->id)) ?>"
                   title="usuń z koszyka" class="usunZKoszyka"><span
                        class="glyphicon glyphicon-remove"></span></a>&nbsp;

                <a href="<?= $this->url('nieruchomosci/oferty', array('action' => 'drukuj', 'id' => $w->id)) ?>"
                   title="drukuj"><span class="glyphicon glyphicon-print"></span></a>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>