<h1>Lista książek</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Cena</th>
        <th>Liczba stron</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($ksiazki as $ks): ?>
        <tr>

            <td><?= $ks->id ?></td>
            <td>
                <a href="<?= $this->url('ksiazki', array('action' => 'szczegoly', 'id' => $ks->id)) ?>"><?= $ks->tytul ?> </a>
            </td>
            <td><?= $ks->imie ?> <?= $ks->nazwisko ?></td>
            <td><?= $ks->cena ?></td>
            <td><?= $ks->liczba_stron ?></td>

            <td>
                <a href="<?= $this->url('ksiazki', array('action' => 'edytuj', 'id' => $ks->id)) ?>"
                   title="edytuj rekord"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="<?= $this->url('ksiazki', array('action' => 'usun', 'id' => $ks->id)) ?>"
                   title="usuń rekord"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>