<h1><?=$tytul ?></h1>
Tytuł: <b><?=$this->daneKsiazki['tytul'] ?> </b></br>
Autor: <?=$this->daneKsiazki['imie'] ?> <?=$this->daneKsiazki['nazwisko'] ?> </br>
Cena: <?=$this->daneKsiazki['cena'] ?> zł </br>
Liczba stron: <?=$this->daneKsiazki['liczba_stron'] ?> </br></br>
Opis: </br> <?=$this->daneKsiazki['opis'] ?>