<?php
    $title = 'Usuń książkę';
    $this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Czy na pewno usunąć
    '<?= $this->escapeHtml($this->daneKsiazki['tytul']) ?>'?
</p>

<?php
    $url = $this->url('ksiazki', array(
        'action' => 'usun',
        'id' => $id,
    ));
?>

<form action="<?php echo $url; ?>" method="post">
    <div>
        <input type="hidden" name="id" value="<?php echo (int)$id; ?>"/>
        <input type="submit" name="del" value="Tak"/>
        <input type="submit" name="del" value="Nie"/>
    </div>
</form>
