<h1>Bieżąca data</h1> 
<?=$this->dzisiaj ?> 
 
<h1>Dni tygodnia</h1> 
 
<ul> 
<? foreach($dni_tygodnia as $nr => $dzien): ?> 
  <li> 
    <?=$nr+1 ?>: 
    <strong><?=$dzien ?></strong> 
  </li> 
<? endforeach; ?> 
</ul>