<h1>Liczby</h1> 

<h2>Liczby nieparzyste</h2>
<ul> 
<? foreach($liczby['nieparzyste'] as $n): ?> 
  <li> 
    <strong><?=$n?></strong> 
  </li> 
<? endforeach; ?> 
</ul>

<h2>Liczby parzyste</h2>
<ul> 
<? foreach($liczby['parzyste'] as $p): ?> 
  <li> 
    <strong><?=$p?></strong> 
  </li> 
<? endforeach; ?> 
</ul>