<h1>Miesiące</h1> 
 
<ul> 
<? foreach($wszystkieMiesiace as $kolor => $miesiac): ?> 
  <li> 
    <strong style="color:<?=$kolor?>"><?=$miesiac ?> => <?=$kolor?></strong> 
  </li> 
<? endforeach; ?> 
</ul>